:root {
  --main-background-color: #fcfcfc;
  --nav-hover-color: #e5e5e5;
  --nav-background-color: #f8f9fa;
  --text-color: #828282;
  --link-active-color: #fbaf61;
  --box-shadow-color: 0 0 3px rgba(0, 0, 0, 0.2);
  --button-color: #fb8201;
}

@media (max-width: 820px) {
  .promptMenu {
    margin-top: 50px !important;
  }

  .promptMenu button {
    margin-top: 30px !important;
    height: 100px !important;
    width: 100px !important;
    margin: 10px 5px !important;
  }

  .promptPageBtn {
    font-size: 12px !important;
    height: 55px !important;
    width: 335px !important;
    padding: 0;
    margin: 10px auto !important;
  }
}

.promptMenu {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  color: #cecece;
  padding: 15px;
  list-style: none;
  background: var(--main-background-color);
  border-color: transparent;
}

.header {
  text-align: justify;
  text-indent: 2rem;
}

.promptMenu button {
  text-align: center;
  cursor: pointer;
  height: 80px;
  width: 75px;
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-color);
  line-height: 5;
}

.footer a {
  margin: 0 20px 0 20px;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  border-top: var(--link-active-color);
}

a:hover {
  color: var(--link-active-color) !important;
  border-top: 2px solid var(--link-active-color) !important;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: none;
}

.promptPageBtn {
  background-color: var(--button-color);
  color: white;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  height: 63px;
  width: 300px;
  line-height: 3.5;
  border-color: transparent;
  margin: 20px;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

button:hover {
  background-color: var(--link-active-color);
  color: white;
}

.active {
  background-color: var(--link-active-color);
  color: white;
}

.navIcon {
  font-size: 18px;
}
