:root {
  --main-background-color: #fcfcfc;
  --nav-hover-color: #e5e5e5;
  --nav-background-color: #f8f9fa;
  --text-color: #828282;
  --link-active-color: #fbaf61;
  --box-shadow-color: 0 0 3px rgba(0, 0, 0, 0.2);
  --button-color: #fb8201;
  --record-container-blue: #92a7dd;
}

@media (max-width: 820px) {
}

.header {
  text-align: justify;
  text-indent: 2rem;
}

.recordSection {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 30px;
}

.titleRecords {
  font-size: 34px;
}

.recordForm {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  background-color: var(--record-container-blue);
}

.userSavedEntry {
  background-color: white;
  color: var(--text-color);
  padding: 0px 70px 50px 70px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
}

.recordsBtn {
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  width: 80px;
  color: var(--button-color);
  background-color: white;
  border-color: var(--button-color);
  padding: 5px;
  border-style: solid;
  font-size: 12px;
}

.overLay {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.pointsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: white;
  width: 300px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  border-radius: 20px;
}

.pointsEarned {
  color: #54de9c;
  font-weight: bold;
}
