:root {
  --main-background-color: #fcfcfc;
  --nav-hover-color: #e5e5e5;
  --nav-background-color: #f8f9fa;
  --text-color: #828282;
  --link-active-color: #fbaf61;
  --box-shadow-color: 0 0 3px rgba(0, 0, 0, 0.2);
  --button-color: #fb8201;
  --record-container-blue: #92a7dd;
}

body {
  font-family: sans-serif;
}

.headerTreatsPage {
  background-color: #54de9c;
  height: 170px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subHeader {
  display: flex;
  justify-content: right;
  background: var(--main-background-color);
  color: black;
  padding-top: 10px;
}

h6,
h4,
p {
  padding: 0;
  margin: 0px auto;
  font-weight: lighter;
}

p {
  font-size: 12px;
  
}

.footer {
  margin: 0 20px 0 20px;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  border-top: var(--link-active-color);
}

a:hover {
  color: var(--link-active-color);
  border-top: 2px solid var(--link-active-color);
}

.container {
  justify-content: center;

  align-items: center;
}

.treatsMenu {
  text-align: center;
}

.menuName {
  text-align: justify;
  color: black;
  font-size:22px;
}

.treatExpiration {
  color: pink;
  font-weight: lighter;
  font-size: 22px;
}
.treatPoints {
  font-weight: lighter;
  font-size: 22px;
  color: rgb(206, 252, 121);
}

.textBold {
  font-weight: bold;
  font-size:24px;
  padding-top:10px;
}

.promo {
  width: 20%;

  /* padding: 8px 100px; */
  margin: 0px auto;
  border: 4px dashed #54de9c;
  color: #54de9c;
  font-weight: bold;
  text-decoration: none;
  padding:5px;
}

.treatImg{
  width:50%;
  margin: 0 auto;
}

.barCodebox{
  padding-top:20px;
  padding-bottom:20px;
}

.getBtn{
  padding-top:40px;
}

/* button{
  border:none;
  background-color: #54de9c;
  color:black;
  padding:10px;
  font-size:15px;
  border-radius: 5px;
} */

.promo a{
  color:#54de9c;
}


